<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suito de tutti suitti" verbose="3"> <!-- Using verbose 3 for more info in logs -->
    <!-- Suite-level parameters, always passed to test (can be overridden) -->
    <parameter name="browser" value="CHROME"/>
    <test name="Chrome tests">
        <groups>
            <run>
                <!-- Based on the need, here you can include/exclude test from certain suites (groups) -->
                <include name="CRITICAL"/>
                <include name="CRITICAL"/>
                <include name="HIGH"/>
                <include name="MEDIUM"/>
                <include name="LOW"/>
            </run>
            <dependencies>
                <group name="CRITICAL" depends-on="SANITY"/>
                <group name="HIGH" depends-on="SANITY"/>
                <group name="MEDIUM" depends-on="SANITY"/>
                <group name="LOW" depends-on="SANITY"/>
            </dependencies>
        </groups>
        <!--    Execution based on test suites (classes)-->
        <classes>
            <!--            <class name="com.red.testframework.tests.SamsaraAPITests"/>-->
            <!--            <class name="com.red.testframework.tests.SamsaraUITests"/>-->
            <class name="com.red.testframework.tests.TestDatabase"/>
            <class name="com.red.testframework.tests.TestLoginPage"/>
            <class name="com.red.testframework.tests.TestSamsaraPage"/>

        </classes>
    </test>
    <test name="Firefox tests">
        <!-- Overriding suites' parameter -->
        <parameter name="browser" value="FIREFOX"/>
        <groups>
            <run>
                <!-- Based on the need, here you can include/exclude test from certain suites (groups) -->
                <include name="SANITY"/>
                <include name="CRITICAL"/>
                <include name="HIGH"/>
                <include name="MEDIUM"/>
                <!--include name="LOW"/-->
            </run>
        </groups>
        <!--    Execution on package level-->

        <packages>
            <package name="com.red.testframework.tests"/>
        </packages>
    </test>
    <!--    <test name="Edge tests">-->
    <!--        &lt;!&ndash; Overriding suites' parameter &ndash;&gt;-->
    <!--        <parameter name="browser" value="EDGE"/>-->
    <!--        <groups>-->
    <!--            <run>-->
    <!--                &lt;!&ndash; Based on the need, here you can include/exclude test from certain suites (groups) &ndash;&gt;-->
    <!--                <include name="SANITY"/>-->
    <!--                <include name="CRITICAL"/>-->
    <!--                <include name="HIGH"/>-->
    <!--                &lt;!&ndash;include name="MEDIUM"/>-->
    <!--                <include name="LOW"/&ndash;&gt;-->
    <!--            </run>-->
    <!--        </groups>-->
    <!--        <packages>-->
    <!--            <package name="com.red.testframework.tests"/>-->
    <!--        </packages>-->
    <!--    </test>-->
    <!--    <test name="IE tests">-->
    <!--        &lt;!&ndash; Overriding suites' parameter &ndash;&gt;-->
    <!--        <parameter name="browser" value="IE"/>-->
    <!--        <groups>-->
    <!--            <run>-->
    <!--                &lt;!&ndash; Based on the need, here you can include/exclude test from certain suites (groups) &ndash;&gt;-->
    <!--                <include name="SANITY"/>-->
    <!--                <include name="CRITICAL"/>-->
    <!--                &lt;!&ndash;include name="HIGH"/>-->
    <!--                <include name="MEDIUM"/>-->
    <!--                <include name="LOW"/&ndash;&gt;-->
    <!--            </run>-->
    <!--        </groups>-->
    <!--        <packages>-->
    <!--            <package name="com.red.testframework.tests"/>-->
    <!--        </packages>-->
    <!--    </test>-->
    <!--    <test name="Chrome headless tests">-->
    <!--        &lt;!&ndash; Overriding suites' parameter &ndash;&gt;-->
    <!--        <parameter name="browser" value="CHROME_HEADLESS"/>-->
    <!--        <packages>-->
    <!--            <package name="com.red.testframework.tests"/>-->
    <!--        </packages>-->
    <!--    </test>-->
</suite>